.upload_image_button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #0073aa;
  color: #fff;
  border: none;
  cursor: pointer;
}

.upload_image_button:hover {
  background-color: #005f8a;
}

#product_buttons_container input {
  margin-top: 5px;
  margin-right: 5px;
}
